* {
	box-sizing: border-box;
}

html,
body {
	font-size: 14pt;
}


body {
	background: #dedede;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
	max-width: 75%;
	margin: auto;
}

h1 {
    text-align: center;
    color : blue
}

  p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

dt{
    color: purple;
    font-weight: bolder;
}

dd{
    font-weight: 200;
}

dd{
    color: midnightblue;
}

.error{
    color: red;
    font-weight: bolder;
}

.logout{
    color:black;
    font-weight: bolder;
}

button{
    color :black;
    background-color: blue;
}

input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
	font-weight: bold;
}

li{
    font-size: medium;
}

a:hover {
    font-style: normal;
    color: hotpink;
  }

  a:visited {
    font-style: italic;
    color: green;
  }

  #login-form{
    background-color: lightgrey;
    width: 400px;
    border: 4px solid black;
    padding: 50px;
    margin: 20px;
  }

